body{
    background-color:black;
}
.introduction h1{
    background-color: #2f549b;
    color:yellow;
    padding-top:15px;
    padding-bottom: 15px;
    padding-left:47.5%;
    margin:15px;

}
.introduction h2{
    font:bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    margin-left: 3%;
    font-size:medium;
}

#starters_image_div img{
    border: 5px solid #2f549b;
    margin-left:37.5%;
}
.list{
    font:large;
    font-size:15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    margin-left: 3%;
}